<div class="art19-web-player awp-medium"
     data-background-color={{ background_color }}
     data-shadow={{ shadow }}
     data-progress-color={{ progress_color }}
     data-primary-color={{ primary_color }}
     data-share-enabled={{ allow_share }}
     data-subscribe-enabled={{ allow_subscribe }}
     data-download-enabled={{ allow_download }}
     data-episode-id={{ source_id }}>
</div>